// Specific CSS for your home-page

.articles-home {
  background-size: cover;
  height: 100vh;
}

.articles-home-title {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  color: #DEB841;
}

.home-articles-card {
  min-width: 200px;
  max-width: 800px;
  border-right: 3px solid;
  border-bottom: 2px solid;
  text-align: center;
  box-shadow: 0 3px 0 #d7e4ed;
  min-height: 400px;
  max-height: 400px;
  color: #28220F;
  border-color: gray;
  position: relative;
  background: #ffffff;
  border-radius: 0.25em;
  margin: 10px;
  margin-top: 50px;
  text-align: center;
  &:hover {
    border-bottom: 3px solid;
    border-color: #DEB841;
  }
}

.home-article-title {
  font-weight: bolder;
  min-height: 75px;
  max-height: 75px;
}

.home-article-img img {
  width: 80%;
  border-radius: 5px;
  height: 40%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.home-articles-card-footer {
  min-height: 50px;
  max-height: 50px;
}

.about-home{
  // PRECISA AJEITAR ESSAS CAMBIARRAS DE MARGIN
  background-size: cover;
  height: 100vh;
  margin-top: 250px;
}

.about-home-title{
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
  color: #DEB841;
}
