.article-id {
  margin-top: 50px;
  text-align: center;
}

.message-review-row {
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  margin: 5px;
  height: 80px;
  text-align: center;
}

.message-name {
  border-right: solid;
  border-width: thin;
}

