<!--         <div class="article-wrapper">
          <% @articles.each do |article| %>
          <div class="article-card">
            <div class="article-url">
              <h4><%= article.url %></h4>
            </div>
            <div class="artile-comment">
              <p>comment:</p>
              <h4><%= article.comment %></h4>
            </div>
            <div class="article-owner-id">
              <p>User</p>
              <h3><%= article.owner_id %></h3>
            </div>
          </div>

          <% end %>
        </div>
 -->
