<!-- Show @article -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="register col-sm-offset-4 col-sm-4">
        <h3>Selected Article</h3>

        <div class="article-wrapper">

          <div class="article-url">
            <p>url:</p>
            <%= link_to "Read on source", @article.url, target: :_blank %>
          </div>

          <div class="artile-comment">
            <p>comment:</p>
            <h3><%= @article.comment %></h3>
          </div>

          <div class="article-user-id">
            <p>Username</p>
            <h3><%= @article.user.username %></h3>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
