
<%= render "banner" %>

<div class="articles-home">
  <div class="articles-home-title">Latest News</div>
  <% Article.last(6).reverse.each do |article| %>
    <%= render 'home_articles', article: article %>
  <% end %>
</div>

<div class="about-home">
  <div class="about-home-title">What are talking about us</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis, eum quod voluptates, repellat quibusdam amet, beatae quaerat quam, culpa eligendi illum dolores perspiciatis aspernatur animi vel sed tempore nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis unde, odio cum praesentium veniam. Quas aperiam voluptates nostrum, aspernatur ab nisi dolores, deleniti beatae tenetur dicta facere nihil velit! Illo.loem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis, eum quod voluptates, repellat quibusdam amet, beatae quaerat quam, culpa eligendi illum dolores perspiciatis aspernatur animi vel sed tempore nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis unde, odio cum praesentium veniam. Quas aperiam voluptates nostrum, aspernatur ab nisi dolores, deleniti beatae tenetur dicta facere nihil velit! Illo.loem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam perferendis, eum quod voluptates, repellat quibusdam amet, beatae quaerat quam, culpa eligendi illum dolores perspiciatis aspernatur animi vel sed tempore nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis unde, odio cum praesentium veniam. Quas aperiam voluptates nostrum, aspernatur ab nisi dolores, deleniti beatae tenetur dicta facere nihil velit! Illo.loem
    </div>
  </div>
</div>
