
<%= render "banner" %>

      <% Article.last(6).each do |article| %>
        <%= render 'home_articles', article: article %>
      <% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    </div>
  </div>
</div>
