<div class="article-wrapper">

  <% if @my_articles.count == 0 %>
    <div class="Invite-to-post">Post something
      <%= link_to "Post", new_article_path, class: "Post-link btn btn-default" %>
    </div>
  <% else %>
    <% @my_articles.each do |article| %>
    <div class="article-card">
      <%= render 'shared/articles_card', article: article %>
    </div>
    <% end %>
  <% end %>
</div>
