/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: white;
  position:fixed;
  bottom: 20px;
  width: 100%;
  z-index:9999;
}

.alert-info {
  background: #429FFD;
}

.alert-warning {
  background: $red;
}
