.home-banner {
  background-image: url('banner.jpg');
  background-size: cover;
  height: calc(100vh - 70px);
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

#banner-typed-text {
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  color: #FFFBF3;
}
