.home-banner {
  background-image: url('banner.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

#banner-typed-text {
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  color: #FFFBF3;
}

.banner-sign-button {
  cursor: pointer;
  padding: 10px 55px;
  background-color: white;
  color: #DEB841;
  font-size: 20px;
  border-style: solid;
  border-radius: 3px;
  transition-duration: 1s;
  &:hover {
    transition-duration: 1s;
    text-decoration: none;
    background-color: transparent;
    color: #DEB841;
    font-weight: bolder;
  }
}

.banner-post-button {
  cursor: pointer;
  padding: 40px 40px;
  background-color: #A52422;
  color: white;
  font-size: 30px;
  border-style: solid;
  border-radius: 50%;
  transition-duration: 1s;
  &:hover {
    transition-duration: 1s;
    text-decoration: none;
    background-color: transparent;
    color: #A52422;
  }
}
