.home-banner {
  background-image: url('banner.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

#banner-typed-text {
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  color: #FFFBF3;
}

.banner-button {
  cursor: pointer;
  padding: 0 35px;
  background-color: white;
  color: #DEB841;
  font-size: 20px;
  border-style: solid;
  border-radius: 3px;
}
.banner-button:hover {
  text-decoration: none;
  background-color: transparent;
  color: #DEB841;
  font-weight: bolder;
  }
